h2,
p {
  margin: 0.5rem;
}
.centred {
  text-align: center;
}
.textInputWrapper {
  width: 50%;
  margin: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}
.input {
  width: 100%;
}
.submitWrapper {
  flex-grow: 1;
  margin: 0.5rem;
}
